JWT_SECRET=JWT_SECRET
DB_PATH=./data/cms.db
ADMIN_USERS=admin:secret
SMTP_HOST="smtp.example.ru"
SMTP_PORT=465
SMTP_USER="example@example.ru"
SMTP_PASS="password"
SMTP_FROM="example@example.ru"
# NEXT_PUBLIC_SITE_URL="IP_VPS"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"