{
  "useTabs": false,
  "printWidth": 300,
  "semi": false,
  "singleQuote": false,
  "trailingComma": "all",
  "jsxBracketSameLine": true,
  "tabWidth": 2,
  "singleAttributePerLine": true,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": false,
  "svelteStrictMode": false
}
